<div class="sidebar1">
  <div class="container1">
    <br>
    <div class="sidebar-title">
      <h2>Dashboard Menu</h2>
    </div>
    <ul >
      <li><a routerLink="/campaigns" class="nav-item" href="#"><i class="fas fa-chart-bar"></i>  Marketing Campaigns</a></li>
      <li><a routerLink="/clients"  class="nav-item" href="#"><i class="fas fa-users"></i> Clients</a>
      <li><a routerLink="/products" class="nav-item" href="#"><i class="fas fa-shopping-bag"></i> Products</a>
    </ul>
  </div>

</div>