/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .nav-item {
    text-decoration: none;
    color: #0a3d62;
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease-in-out;
  }
  .sidebar-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .sidebar-title h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  .nav-item:hover {
    color: #70a1ff;
    background-color: #f0f0f0;
  }
  /* Styling for sidebar */
  .sidebar1 {
    width: 220px;
    background-color: #fff;
    color: #0a3d62;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Navbar styling */
  .navbar1 {
    padding: 20px 0;
  }
  
  .container1 {
    padding: 0 20px;
  }
  
  .logo {
    text-decoration: none;
    color: #0a3d62;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #0a3d62;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links li a:hover {
    color: #70a1ff;
  }
  
  /* Dropdown menu */
  .dropdown-content {
    display: none;
    background-color: #fff;
    padding-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-content li {
    margin-bottom: 10px;
  }
  
  .dropdown-content li a {
    color: #0a3d62;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  