<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="content-body">
    <div class="container-fluid mh-auto">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h2>Create Campaign</h2>
                        <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                            <label class="form-label">Campaign Name : </label>&nbsp;{{campaign.name}}
                        </div>
                        <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                            <label class="form-label">Description : </label>&nbsp;{{campaign.description}}
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="filterType">&nbsp;&nbsp;&nbsp;&nbsp;Select Filter Type</label> &nbsp;&nbsp;
                                <select id="filterType" [(ngModel)]="criteria">
                                    <option value="gender" selected>Gender</option>
                                    <option value="age">Age</option>
                                    <option value="country">Country</option>
                                </select>
                            </div>
                            <div class="form-group" *ngIf="criteria === 'gender'">
                                <label>Select Gender</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="maleRadio"
                                        value="Male" [(ngModel)]="selectedGender">
                                    <label class="form-check-label" for="maleRadio">Male</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genderRadio" id="femaleRadio"
                                        value="Female" [(ngModel)]="selectedGender">
                                    <label class="form-check-label" for="femaleRadio">Female</label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="criteria === 'age'">
                                <label>Age Range</label>
                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Min Age"
                                            [(ngModel)]="minAge">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Max Age"
                                            [(ngModel)]="maxAge">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="criteria === 'country'">
                                <label for="country">Enter Country</label>
                                <input type="text" class="form-control" id="country" [(ngModel)]="selectedCountry">
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="applyFilters()">Apply
                                Filters</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body ">
                            <h2>Filtered Clients</h2>
                            <div class="table-responsive">
                                <table class="table table-sm mb-0 table-striped student-tbl">
                                    <thead>
                                        <tr>
                                            <th class="custom-column">Client ID</th>
                                            <th class="custom-column">Name</th>
                                            <th class="custom-column">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of targetClients">
                                            <td>{{ client.id }}</td>
                                            <td>{{ client.firstName }}&nbsp;{{ client.lastName }}</td>
                                            <td>{{ client.email }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body ">
                            <form>
                                <div class="">
                                    <h1>Questionnaire</h1>
                                    <div class="questions">
                                        <div *ngFor="let question of questions; let i = index" class="question">
                                            <p class="question-text">{{ question.text }}</p>
                                            <div class="options">
                                                <p *ngFor="let option of question.options; let j = index"
                                                    class="option">
                                                    - {{ option }}
                                                </p>
                                            </div>

                                            <button type="button" class="btn btn-primary" (click)="toggleAddOption(i)">
                                                <i class="fas fa-plus-circle"></i> Add Option
                                            </button>
                                            <div *ngIf="question.showAddOption" class="new-option">
                                                <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                                    <input style="width: 200px;" type="text" class="form-control"
                                                        placeholder="Enter option" [(ngModel)]="newOptionText"><br>
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="addOption(i)">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <input style="width: 200px;" type="text" class="form-control"
                                            placeholder="Enter your question" [(ngModel)]="newQuestionText"><br>
                                        <button type="button" class="btn btn-primary" (click)="addQuestion()">
                                            <i class="fas fa-plus-circle"></i>
                                        </button><br>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-5"></div>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary"
                        (click)="addQuestionnaire();addClientsToCampaign()">Launch
                        Campaign</button>
                </div>
            </div>
        </div>
    </div>