<div class="row col-5">
  <h4 class="fw-bold text-center mt-3">Questionnaire</h4>
  <form class="bg-white px-4" action="">
    <!-- Loop through each question -->
    <div *ngFor="let question of questions" class="mb-4">
      <p class="fw-bold">{{ question.questionText }}</p>
      <!-- Loop through each option in the current question -->
      <div *ngFor="let option of question.options" class="form-check mb-2">
        <input class="form-check-input" type="radio" [id]="'radio'+option" [name]="'question'+question.id" />
        <label class="form-check-label" [for]="'radio'+option">
          {{ option }}
        </label>
      </div>
    </div>
  </form>
  <div class="text-end">
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</div>
